@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: hsl(257, 40%, 49%);
  background-image: url(components/images/bg-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#left {
  display: flex;
  grid-area: left;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(components/images/logo.svg);
  background-position: top 50px left 50px;
  background-repeat: no-repeat;
  background-size: 250px;
}

#right {
  display: flex;
  grid-area: right;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#text {
  display: flex;
  grid-area: right;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.781);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

button {
  background: #ffffff;
  border-radius: 999px;
  box-shadow: #2c2c47 0 10px 20px -10px;
  box-sizing: border-box;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 16px 60px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #ffffff;
  box-shadow: #2c2c4750 0 10px 20px -10px;
}

.social-medias {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-left: 700px;
  margin-bottom: -800px;
}

.social-medias img {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

.social-medias img:hover {
  width: 40px;
  height: 40px;
  background-color: hsl(300, 69%, 71%);
  margin-left: 16px;
}

@media (max-width: 768px) {
}
